@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: rgb(192, 165, 115);

    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
}

#container {
    width: 390px;
    margin: 100px auto;

    text-align: center;
}

#calculator {
    margin: 0 auto;
    background-color: white;
}

#inputDisplay {
    width: 90%;
    margin: 10px auto;
    text-align: right;
}

#calculator-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    width: 90%;
    margin: 10px auto;
}

button {
    font-family: 'Orbitron', sans-serif;
    aspect-ratio: 1;
}

#equal {
    grid-column-start: 3;
    grid-column-end: 5;
    aspect-ratio: auto;
}